@use "variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: variables.$general-font;
    font-weight: 200;
    background-color: variables.$green-color;
    letter-spacing: 0.25em;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-family: variables.$text-font;
    font-weight: 600;
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 0.15em;
}
