@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

// FONTS
$general-font: "Oswald", san-serif;
$text-font: "Open Sans", san-serif;

// WHITE
$white-color: #fff;

// GREEN
$green-color: #16ffbd;
$green-color-filter: invert(76%) sepia(53%) saturate(657%) hue-rotate(100deg)
    brightness(101%) contrast(101%);

// BLACK
$black-color: #080d14;

// PINK
$pink-color: #fd8cab;
$pink-color-filter: invert(76%) sepia(8%) saturate(7170%) hue-rotate(298deg)
    brightness(108%) contrast(98%);

// MEDIA QUERY WIDTH
$media-query-width: 600px;
